<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="database">
            <file>tests/Integration/PgDatabaseConnectionTest.php</file>
        </testsuite>
        <testsuite name="product">
            <file>tests/Integration/ProductTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>